<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<body>
    <br><br>
<table>
    <tr>
        <th>Gender</th>
        <th>Height</th>
        <th>Weight</th>
        <th>BMI Category</th>
        <th>Health Risk</th>
      </tr>
    {% if data %}
    {% for i in data %}
    <tr>
      <td>{{ i.gender }}</td>
      <td>{{ i.height }}</td>
      <td>{{ i.weight }}</td>
      <td>{{ i.category }}</td>
      <td>{{ i.risk }}</td>
    </tr>
  {% endfor %}
  {% endif %}
</table>
<br><br>
</body>
</html>